# configuration file used by run_coverage.py
[run]
branch = True
source = numba
concurrency = multiprocessing
parallel = True

[report]

omit =
    */__main__.py
    # Vendored packages
    numba/appdirs.py
    numba/six.py
    numba/testing/ddt.py
    numba/_version.py

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
