[flake8]
ignore =
    # Extra space in brackets
    E20,
    # Multiple spaces around ","
    E231,
    E241,
    # Comments
    E26,
    # Assigning lambda expression
    E731,
    # Ambiguous variable names
    E741,
    # line break before binary operator
    W503,
    # line break after binary operator
    W504,
    # Line too long
    E501,
    # Do not use bare except, specify exception instead
    E722,
    # SyntaxError
    E999,
    # Module imported but unused
    F401,
    # Import module from line n shadowed by loop variable
    F402,
    # 'from module import *' used; unable to detect undefined names
    F403,
    # Name may be undefined, or defined from star imports: module
    F405,
    # .format(...) unused positional arguments
    F523,
    # f-string is missing placeholders
    F541,
    # Redefinition of unused name from line n
    F811,
    # Undefined name name
    F821,
    # Undefined name name in __all__
    F822,
    # Local variable name is assigned to but never used
    F841
max-line-length = 80

exclude =
    __pycache__,
    .git,
    *.pyc,
    *~,
    *.o,
    *.so,
    *.cpp,
    *.c,
    *.h,
    versioneer.py,
    numba/__init__.py,
    # Ignore vendored files
    numba/cloudpickle/*,
