[flake8]
ignore =
    # Extra space in brackets
    E20,
    # Multiple spaces around ","
    E231,
    E241,
    # Comments
    E26,
    # Assigning lambda expression
    E731,
    # Ambiguous variable names
    E741,
    # line break before binary operator
    W503,
    # line break after binary operator
    W504
max-line-length = 80

exclude =
    __pycache__,
    .git,
    *.pyc,
    *~,
    *.o,
    *.so,
    *.cpp,
    *.c,
    *.h,
    versioneer.py,
    numba/__init__.py,
    # Ignore vendored files
    numba/cloudpickle/*,
