_build
*.pyc
*.pyo
__pycache__
*.so
*.o
*.bak
*.pybackup
numba/extension_types.c
numba/external/utilities/generated_conversions.[ch]
numba/external/utilities/generated_conversions.c
numba/numbawrapper.c

.idea/
build/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~
.noseids

tags
TAGS
