_build
*.pyc
*.pyo
__pycache__
*.so
*.o
*.bak
*.pybackup
extension_types.c
numba/external/utilities/generated_conversions.[ch]
numba/external/utilities/generated_conversions.c
numba/numbawrapper.[ch]
numba/pyconsts.c
intern.c
methodtable.c

.idea/
build/
cython_debug/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~
.noseids

tags
TAGS
