*.pyc
*.o
*.so
*.dylib
*.pyd
*.pdb
*.egg-info
*.sw[po]
*.out
*.ll
.coverage
.nfs*
tags
MANIFEST

build/
docs/_build/
docs/gh-pages/
dist/
htmlcov/
.idea/
.vscode/
.ipynb_checkpoints/
__pycache__/

docs/source/developer/autogen*
