# References https://gist.github.com/dan-blanchard/7045057
# and https://docs.travis-ci.com/user/trusty-ci-environment/

dist: trusty

matrix:
    include:
        # Longest build first
        - env: PYTHON=3.5 NUMPY=1.11 RUN_COVERAGE=yes
        - env: PYTHON=3.4 NUMPY=1.9 BUILD_DOC=yes
        - env: PYTHON=2.7 NUMPY=1.7

branches:
    only:
        - master
        - travis

before_install:
    - buildscripts/incremental/install_miniconda.sh
    - export PATH=$HOME/miniconda3/bin:$PATH
    - buildscripts/incremental/create_conda_environment.sh
    - buildscripts/incremental/setup_conda_environment.sh
install:
    - source activate travisci
    # Build numba extensions without silencing compile errors
    - python setup.py build_ext -q --inplace
    # Install numba
    - python setup.py install -q >/dev/null

script:
    - buildscripts/incremental/test.sh

after_success:
    - if [ "$RUN_COVERAGE" == "yes" ]; then coverage combine; codecov; fi

notifications:
    email: false
    flowdock: "cb7bc57e58b3d42f77685f93211c03ab"
    on_success: "change"
    on_failure: "always" # "change"
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/bd67cc227432d99bf1f1
        on_success: change
        on_failure: always
        on_start: false
