trigger:
  batch: true

variables:
  # Change the following along with adding new TEST_START_INDEX.
  TEST_COUNT: 19

jobs:
# Mac and Linux use the same template with different matrixes
- template: buildscripts/azure/azure-linux-macos.yml
  parameters:
    name: macOS
    vmImage: macos-13
    matrix:
      py310_np124:
        PYTHON: '3.10'
        NUMPY: '1.24'
        CONDA_ENV: 'azure_ci'
        TEST_THREADING: 'tbb'
        TEST_START_INDEX: 0
      py312_np126:
        PYTHON: '3.12'
        NUMPY: '1.26'
        CONDA_ENV: 'azure_ci'
        TEST_START_INDEX: 1
      py312_np21:
        PYTHON: '3.12'
        NUMPY: '2.1'
        CONDA_ENV: 'azure_ci'
        TEST_START_INDEX: 2

- template: buildscripts/azure/azure-linux-macos.yml
  parameters:
    name: Linux
    vmImage: ubuntu-20.04
    matrix:
      py310_np124_cov_doc:
        PYTHON: '3.10'
        NUMPY: '1.24'
        RUN_COVERAGE: yes
        RUN_FLAKE8: yes
        RUN_MYPY: yes
        BUILD_DOC: yes
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 3
      py310_np125_typeguard:
        PYTHON: '3.10'
        NUMPY: '1.25'
        CONDA_ENV: azure_ci
        RUN_TYPEGUARD: yes
        TEST_START_INDEX: 4
      py310_np126:
        PYTHON: '3.10'
        NUMPY: '1.26'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 5
      py310_np21:
        PYTHON: '3.10'
        NUMPY: '2.1'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 6

      py311_np124:
        PYTHON: '3.11'
        NUMPY: '1.24'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 7
      py311_np125:
        PYTHON: '3.11'
        NUMPY: '1.25'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 8
      py311_np126:
        PYTHON: '3.11'
        NUMPY: '1.26'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 9
      py311_np21:
        PYTHON: '3.11'
        NUMPY: '2.1'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 10
      py311_np126_2:
        PYTHON: '3.11'
        NUMPY: '1.26'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 11
      py311_np125_svml:
        PYTHON: '3.11'
        NUMPY: '1.25'
        CONDA_ENV: azure_ci
        TEST_SVML: yes
        TEST_START_INDEX: 12

      py312_np126:
        PYTHON: '3.12'
        NUMPY: '1.26'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 13
      py312_np20:
        PYTHON: '3.12'
        NUMPY: '2.0'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 14
      py312_np21:
        PYTHON: '3.12'
        NUMPY: '2.1'
        CONDA_ENV: azure_ci
        TEST_START_INDEX: 15

- template: buildscripts/azure/azure-windows.yml
  parameters:
    name: Windows
    vmImage: windows-2019
