<html>

<head>

<style>

.annotation_table {
color: #000000;
font-family: monospace;
margin: 5px;
}

.object_tag {
color: #cc3300;
font-weight: bold;
}

.lifted_tag {
color: #00cc33;
font-weight: bold;
}

.llvm_code {
color: grey;
font-style: italic;
}

.metadata {
border-bottom: medium solid black;
display: inline-block;
padding: 5px;
}

.annotations {
padding: 5px;
}

.hidden {
display: none;
}

.buttons {
padding: 10px;
cursor: pointer;
}

</style>

<script type="text/javascript">

window.onload = function() {

{% for func_key in func_data.keys() %}

    document.getElementById('func{{loop.index}}_toggle_llvm').onclick = function() {
        if (this.innerHTML == 'show llvm') {
            var llvm_lines = getElementsByClassName('func{{loop.index}}_llvm');
            for (var i = 0; i < llvm_lines.length; i++) {
                llvm_lines[i].setAttribute('class', 'llvm_code func{{loop.index}}_llvm');
            }
            this.innerHTML = 'hide llvm'
        }
        else {
            var llvm_lines = getElementsByClassName('func{{loop.index}}_llvm');
            for (var i = 0; i < llvm_lines.length; i++) {
                llvm_lines[i].setAttribute('class', 'llvm_code func{{loop.index}}_llvm hidden');
            }
            this.innerHTML = 'show llvm'
        }
    }

{% endfor %}

}

/*
    Alternate getElementsByClassName function that works on older versions
    of Internet Explorer.
	Developed by Robert Nyman, http://www.robertnyman.com
	Code/licensing: http://code.google.com/p/getelementsbyclassname/
*/	
var getElementsByClassName = function (className, tag, elm){
	if (document.getElementsByClassName) {
		getElementsByClassName = function (className, tag, elm) {
			elm = elm || document;
			var elements = elm.getElementsByClassName(className),
				nodeName = (tag)? new RegExp("\\b" + tag + "\\b", "i") : null,
				returnElements = [],
				current;
			for(var i=0, il=elements.length; i<il; i+=1){
				current = elements[i];
				if(!nodeName || nodeName.test(current.nodeName)) {
					returnElements.push(current);
				}
			}
			return returnElements;
		};
	}
	else if (document.evaluate) {
		getElementsByClassName = function (className, tag, elm) {
			tag = tag || "*";
			elm = elm || document;
			var classes = className.split(" "),
				classesToCheck = "",
				xhtmlNamespace = "http://www.w3.org/1999/xhtml",
				namespaceResolver = (document.documentElement.namespaceURI === xhtmlNamespace)? xhtmlNamespace : null,
				returnElements = [],
				elements,
				node;
			for(var j=0, jl=classes.length; j<jl; j+=1){
				classesToCheck += "[contains(concat(' ', @class, ' '), ' " + classes[j] + " ')]";
			}
			try	{
				elements = document.evaluate(".//" + tag + classesToCheck, elm, namespaceResolver, 0, null);
			}
			catch (e) {
				elements = document.evaluate(".//" + tag + classesToCheck, elm, null, 0, null);
			}
			while ((node = elements.iterateNext())) {
				returnElements.push(node);
			}
			return returnElements;
		};
	}
	else {
		getElementsByClassName = function (className, tag, elm) {
			tag = tag || "*";
			elm = elm || document;
			var classes = className.split(" "),
				classesToCheck = [],
				elements = (tag === "*" && elm.all)? elm.all : elm.getElementsByTagName(tag),
				current,
				returnElements = [],
				match;
			for(var k=0, kl=classes.length; k<kl; k+=1){
				classesToCheck.push(new RegExp("(^|\\s)" + classes[k] + "(\\s|$)"));
			}
			for(var l=0, ll=elements.length; l<ll; l+=1){
				current = elements[l];
				match = false;
				for(var m=0, ml=classesToCheck.length; m<ml; m+=1){
					match = classesToCheck[m].test(current.className);
					if (!match) {
						break;
					}
				}
				if (match) {
					returnElements.push(current);
				}
			}
			return returnElements;
		};
	}
	return getElementsByClassName(className, tag, elm);
};

</script>

</script>

</head>

<body>

    {% for func_key in func_data.keys() %}

        {% set loop1 = loop %}

        <div class="metadata">
        Function name: {{func_data[func_key]['funcname']}}<br />
        in file: {{func_data[func_key]['filename']}}<br />
        called from: {{func_key[0]}}<br />
        with signature: {{func_key[1]}}
        </div>

        <div class="annotations">

        <span id="func{{loop1.index}}_toggle_llvm" class="buttons">show llvm</span>

        <table class="annotation_table">

            {% for num, line in func_data[func_key]['python_lines'].items() %}
                <tr>
                
                    <td class="{{func_data[func_key]['python_object'][num]}}">
                    {{num}}:
                    </td>

                    <td class="{{func_data[func_key]['python_object'][num]}}">
                    {{func_data[func_key]['python_indent'][num]}}{{line}}
                    </td>
                
                </tr>

                {% for llvm_line in func_data[func_key]['llvm_lines'][num] %}

                    <tr class="llvm_code func{{loop1.index}}_llvm hidden">

                        <td>&nbsp;</td>

                        <td>
                        {{func_data[func_key]['python_indent'][num]}}
                        {{func_data[func_key]['llvm_indent'][num][i]}}{{llvm_line}}
                        </td>

                    </tr>

                {% endfor %}

            {% endfor %}

        </table>

        </div>

        <br /><br /><br />

    {% endfor %}

</body>

</html>
